!
! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #002b37, #002b37, #003642
rofi.color-normal: #002b37, #819396, #002b37, #003642, #819396
rofi.color-active: #002b37, #008ed4, #002b37, #003642, #008ed4
rofi.color-urgent: #002b37, #da4281, #002b37, #003642, #da4281


! font
URxvt.allow_bold:	false
URxvt.font:              xft:Inconsolata for Powerline:pixelsize=15:Medium,xft:Ricty:pixelsize=15:antialiase=true:Regular
URxvt.boldfont:          xft:Inconsolata for Powerline:pixelsize=15:BoldForPowerline,xft:Ricty:pixelsize=15:antialiase=true:Bold
URxvt.italicfont:        xft:Inconsolata for Powerline:pixelsize=15:Medium,xft:Ricty:pixelsize=15:antialiase=true:Regular
URxvt.bolditalicfont:    xft:Inconsolata for Powerline:pixelsize=15:BoldForPowerline,xft:Ricty:pixelsize=15:antialiase=true:Bold
URxvt.imFont:            -xos4-terminus-medium-r-normal--14-140-72-72-c-80-iso10646-1

! term
URxvt*termName:	xterm-256color
URxvt.depth: 32
URxvt*shading: 20
! URxvt*inheritPixmap: true
URxvt*fading: 0
URxvt*:borderLess: true
URxvt*internalBorder: 7

! UTF8
URxvt.perl-ext-common: xim-onthespot
URxvt*imLocale: en_US.UTF-8
URxvt.inputMethod: fcitx
URxvt.preeditType: OnTheSpot

URxvt.scrollBar: false

URxvt*colorUL:                #859900
URxvt*colorBD:                #268bd2
URxvt*color1:                 #dc322f
URxvt*color9:                 #cb4b16
URxvt*color2:                 #859900
URxvt*color3:                 #b58900
URxvt*color4:                 #268bd2
URxvt*color5:                 #d33682
URxvt*color13:                #6c71c4
URxvt*color6:                 #2aa198

URxvt*background:             #002b36
URxvt*foreground:             #839496
URxvt*fadeColor:              #002b36
URxvt*cursorColor:            #93a1a1
URxvt*pointerColorBackground: #586e75
URxvt*pointerColorForeground: #93a1a1
URxvt*scrollColor:            #657b83
URxvt*borderColor:            #002b36
URxvt*color0:                 #073642
URxvt*color8:                 #839496
URxvt*color10:                #586e75
URxvt*color11:                #657b83
URxvt*color12:                #839496
URxvt*color14:                #93a1a1
URxvt*color7:                 #eee8d5
URxvt*color15:                #fdf6e3
